html {
  scroll-behavior: smooth;
}

.header {
  width: 1052px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  margin-top: 92px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 96px;
  justify-items: stretch;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

.header_menu {
  display: flex;
  margin-top: 44px;
  margin-right: 35px;
  justify-content: flex-end;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.2px;
}

.header_menu-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: circle;
}

.menu__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-right: 1.5px;
}

.header_menu-link {
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240.521px;
  display: flex;
  font-style: normal;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  justify-self: end;
  font-size: 18px;
  margin-right: 64px;
  margin-top: 5px;
}

.address_info {
  letter-spacing: 0.18px;
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 1px;
  line-height: 1.2;
}

.line_height_style_address {
  line-height: 1.35;
}

.cover {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 1100px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover_title {
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.aligned-text {
  display: block;
  z-index: 1;
}

.text-left {
  padding-left: 50px;
  padding-top: 165px;
  letter-spacing: 30px;
}

.text-center {
  text-align: center;
  letter-spacing: 30px;
  margin-top: 10px;
}

.text-right {
  text-align: right;
  letter-spacing: 30px;
  margin-right: 18px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description-text {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
  margin-left: 80px;
  margin-bottom: 62px;
  margin-top: 130px;
}

.bet-button {
  width: 256px;
  height: 51px;
  background-color: rgba(28, 28, 28, 0);
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 82px;
  border: 1px solid #fff;
}

.lots {
  width: 1052px;
  margin-top: 179px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.lots_heading {
  max-width: 121px;
  width: 100%;
  color: black;
  text-align: left;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 25px;
  list-style-type: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
}

.card_size {
  width: 334px;
  height: 563px;
  flex-grow: 1;
}

.lots_card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_background_size {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.card_title {
  margin-left: 40px;
  margin-top: 51px;
  margin-right: 40px;
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card_text {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
  max-width: fit-content;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 1px;
}

.about {
  display: grid;
  width: 1052px;
  background-color: rgb(255, 255, 255);
  margin-top: 146px;
  grid-template-columns: auto 1fr;
  margin-left: auto;
  margin-right: auto;
}

.about_logo {
  width: 148px;
  height: 114px;
}

.about_column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background: rgb(0, 0, 0);
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  margin-top: 35px;
  margin-left: 47px;
}

.about_title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 136px;
  padding-left: 72px;
  padding-bottom: 100px;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 72px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.footer {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin: 180px auto 88px;
}

.footer_address {
  display: flex;
  flex-direction: column;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.footer_menu-list-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  padding-right: 16px;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 1px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

.footer__social-icon {
  width: 48px;
}
